@CHARSET "UTF-8";
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/ESTIS/Estis/Img/search.png');
  background-position: 4px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 15px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
.listTitle{
   width: 100%;
}
.listTitle b{
   font-size: 30px;
   padding: 5px;
}
.listTitle .listAddBtn{
   float: right;
   border: none;
   background-color: white;
   padding : 10px;
}

.listAddBtn img{
   height: 30px;
   width: 30px;
   background-color: transparent;
   cursor: pointer;
}
.cancelbtn,.signupbtn,.applybtn {
    background-color: #A1BBD0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    float: left;
    width: 50%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    color: #3F4234;
    background-color: #FA8072;
}
.applybtn {
   padding: 14px 20px;
    color: #3F4234;
    background-color: #9ce08b;
    width: 100%
}