@CHARSET "EUC-KR";
.signupSection {
    border: 3px solid #f1f1f1;
}
.section{
    background-color: #3F4234;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.container {
    padding: 16px;
}
h2{
	text-align: center;
}